@media (max-width: 425px){
    body{
        margin: 0px;
    }
    .wallpappers{
        margin: 0 7.81%;
    }
    .wallpapper_container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        gap: 0px;
    }
    .wallpapper:nth-child(1){
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .wallpapper:nth-child(4){
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .wallpapper:nth-child(4)>img{
        width: 100%;
    }
    .wallpapper:nth-child(7){
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .wallpappaerDeliveryInfo{
        grid-column-start: 1;
        grid-row-start: 4;
        bottom: 0px;
    }
    .wallpappaerDeliveryInfo__about{
        width: 100%;
    }
    .wallpappaerDeliveryInfo__cost{
        width: 100%;
    }
    .wallpapper:nth-child(2),.wallpapper:nth-child(3),.wallpapper:nth-child(6),.wallpapper:nth-child(8),.wallpapper:nth-child(9),.wallpapper:nth-child(10),.wallpapper:nth-child(11),.wallpapper:nth-child(12){
        display: none;
    }
    .wallpapper-img{
        overflow: hidden;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .wallpapper-img img {
        object-fit: cover;
        width: 100%;
        height: calc(46px + 60vw);
      }
}